{% extends 'base.html' %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Three Little Birds</title>
    </head>
    <body>
        <div class="head">
        <h1 class="indextitle">Three Little Birds</h1>
            <div class="head-btn">
            <form method="get" action="{{ url_for('marketplace') }}">
                <button type="submit">Marketplace</button>
            </form>
        <!--TODO Marketplace-->
       
            <form method="get" action="{{ url_for('services') }}">
                <button type="submit">Services</button>
            </form>
         <!--TODO Services-->
        
            <form method="get" action="{{ url_for('about') }}">
                <button type="submit">About</button>
            </form>
        <!--TODO about-->

            <form method="get" action="{{ url_for('contact') }}">
                <button type="submit">Contact Us</button>
            </form>
        <!--TODO contact-->
        </div>
    </div>
    </body>
</html>
{% endblock %}