{% extends 'base.html' %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>3 Little Birds</title>
        <style>
        </style>
    </head>
    <body>
        <div class="head">
        <h1 class="indextitle">3 Little Birds</h1>
            <div class="head-btn">
            <form method="get" action="{{ url_for('marketplace') }}">
                <button type="submit">Marketplace</button>
            </form>
        <!--TODO Marketplace-->
       
            <form method="get" action="{{ url_for('services') }}">
                <button type="submit">Services</button>
            </form>
         <!--TODO Services-->
        
            <form method="get" action="{{ url_for('about') }}">
                <button type="submit">About</button>
            </form>
        <!--TODO about-->

            <form method="get" action="{{ url_for('contact') }}">
                <button type="submit">Contact Us</button>
            </form>
        <!--TODO contact-->

        </div>
    </div>
    <div class="landing">
        <h2>High Quality Home Decor</h2>
        <div class="home_gallery">
            <img class="home_images" src="../static/photos/3LittleBirds_homes/Littleton_bedroom1_after.jpeg" alt="bedroom1_after">
            <img class="home_images" src="../static/photos/3LittleBirds_homes/Littleton_bedroom1_after2.jpeg" alt="bedroom1_after2">
            <img class="home_images" src="../static/photos/3LittleBirds_homes/Littleton_dining_room2.jpeg" alt="dining_room">
            <img class="home_images" src="../static/photos/3LittleBirds_homes/Littleton_dining_room_after2.jpeg" alt="dining_room_after2">
        </div>
        <h2>Handmade Fabrics, Soaps, and More!</h2>
        
    </div>
    </body>
</html>
{% endblock %}