{% extends 'base.html' %}
{% block main %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Three Little Birds - Marketplace</title>
        <link rel="stylesheet" href="../static/styles.css">
        <style>
            .head{
                height:150px;
                width:270px;
                padding: 5px; 
            }
        </style>
    </head>
        <body>
            <div class="head">
            <h1 class="markettitle">Marketplace</h1>
            <h2><a href="index.html">Home</a></h2>
            </div>
        <div class="catalog">
            {% for item in catalog_items %}
            <div class="catalog-item">
                <a href="{{ item.link }}"><img src="{{ url_for('static', filename=item.image) }}" alt="catalog img"></a>
                <p class="item">{{ item.description }}</p>
            </div>
            {% endfor %}
        </div>
        </body>

</html>

{% endblock %}