{% extends 'base.html' %}
{% block main %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marketplace</title>
        <style>
        </style>
    </head>
        <body>
            <div class="markethead">
                <h1 class="markettitle">Marketplace</h1>
                <div class="head-btn">
                    <form method="get" action="{{ url_for('index') }}">
                        <button type="submit">Home</button>
                    </form>
                    <form method="get" action="{{ url_for('add_item')}}">
                        <button class="admin" type="submit">Add Item (admin)</button>
                    </form>
                        <!--Should only be accessible by admin users-->
                </div>
            </div>
        <div class="catalog">
            {% for item in items %}
            <div class="catalog-item">
                {% if item.image %}
                    <a href="{{ url_for('orderform')}}">
                        <img src="{{ item.image }}" alt="{{ item.name }}">
                    </a>
                {% else %}
                    <p>No Image Available</p>
                {% endif %}
                <p class="item">{{ item.name }}</p>
                <p class="item">${{ item.price }}</p>
            </div>
            {% endfor %}
        </div>
        </body>
</html>

{% endblock %}