<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Three Little Birds - Marketplace</title>
        <link rel="stylesheet" href="../static/styles.css">
        <style>
            .head{
                height:150px;
                width:270px;
                padding: 5px; 
            }
        </style>
    </head>
        <body>
        
            <div class="head">
            <h1 class="markettitle">Marketplace</h1>
            <h2><a href="index.html">Home</a></h2>
            </div>
        <div class="catalog">
            <div class="catalog-item">
                <a href="orderform.html"><img src="../static/photos/logo_placeholder.jpg" alt="catalog img 1"></a>
                <p class="item">Item Description</p>
            </div>
            <div class="catalog-item">
                <a href="orderform.html"><img src="../static/photos/logo_placeholder.jpg" alt="catalog img 1"></a>
                <p class="item">Item Description</p>
            </div>
            <div class="catalog-item">
                <a href="orderform.html"><img src="../static/photos/logo_placeholder.jpg" alt="catalog img 1"></a>
                <p class="item">Item Description</p>
            </div>
            <div class="catalog-item">
                <a href="orderform.html"><img src="../static/photos/logo_placeholder.jpg" alt="catalog img 1"></a>
                <p class="item">Item Description</p>
            </div>
            <div class="catalog-item">
                <a href="orderform.html"><img src="../static/photos/logo_placeholder.jpg" alt="catalog img 1"></a>
                <p class="item">Item Description</p>
            </div>
        </div>
        </body>

</html>